* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f1a20;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.language {
  margin-bottom: 30px;
  color: #aaa;
  font-size: 14px;
}

.logo img {
  width: 50%;
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #2c3e50;
  background: #1c2b33;
  color: white;
  font-size: 15px;
}

.login-box input::placeholder {
  color: #bbb;
}

.login-box button {
  width: 100%;
  padding: 14px;
  background: #1877f2;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.a login-box button:hover {
  background: #166fe5;
}

.forgot {
  display: block;
  margin-top: 18px;
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.create-account {
  width: 100%;
  padding: 14px;
  margin-top: 30px;
  background: transparent;
  border: 1px solid #1877f2;
  border-radius: 25px;
  color: #1877f2;
  font-size: 16px;
  cursor: pointer;
}

.meta {
  margin-top: 30px;
  color: #888;
  font-size: 14px;
  text-align: center;
}